*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans";
    line-height: 22px;
}

/*2 #btn*/

body{
    overflow: hidden;
}

image{
    display: block;
}

.container{
    margin: 2.5%;
}

.bgr-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw; /*dynamic viewport weight: update of vw*/
    height: 100dvh; /*dynamic viewport height: update of vh*/
    background-color: rgba(90, 92, 99, 0.5);
    z-index: 3;
}

.active{
    display: block !important;
}

/*header*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > img{
    width: 160px;
}

#btn-new-task{
    color: rgba(90, 92, 99, 1);
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    transition: all 0.2s;
}

#btn-new-task:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#btn-new-task > i{
    font-size: 12px;
    padding-right: 8px;
}

/*tasks*/
.general-task{
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.task{
    display: flex;
    flex-direction: column;
    width: 320px;
}

/**/
.col{    
    width: 100%;
    height: 33px;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-col{
    background-color: rgba(0, 166, 218, 1);
}

.doing-col{
    background-color: rgba(204, 172, 3, 0.56);
}

.completed-col{
    background-color: rgba(59, 192, 87, 1);
}

.blocked-col{
    background-color: rgba(231, 76, 60, 1);
}
/**/
/**/
.count{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-col > .count{
    background-color: rgba(0, 205, 218, 1);
}

.doing-col > .count{
    background-color: rgba(218, 183, 0, 1);
}

.completed-col > .count{
    background-color: rgba(105, 206, 126, 1);
}

.blocked-col > .count{
    background-color: rgba(245, 114, 99, 0.781);
}
/**/
/**/
.line{
    width: 100%;
    height: 2.5px;
    margin: 12px 0;
}

.todo-line{
    background-color: rgba(0, 166, 218, 1);
}

.doing-line{
    background-color: rgba(204, 172, 3, 0.56);
}

.completed-line{
    background-color: rgba(59, 192, 87, 1);
}

.blocked-line{
    background-color: rgba(231, 76, 60, 1);
}

/**/
.create-todo, .edit-todo{
    display: none;
    width: 32%;
    height: fit-content;
    background-color: white;
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 5px;
    color: rgba(67, 67, 67, 0.902);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.create-todo > p, .edit-todo > p{
    text-align: center;
    margin: 10px 0 15px;
    font-size: 20px;
    font-weight: 600;
}

.create-todo > i, .edit-todo > i{
    float: right;
    cursor: pointer;
    transition: all 0.2s;
}

.create-todo > i:hover, .edit-todo > i:hover{
    color: black;
}

.create-todo > input, .create-todo > textarea, .edit-todo > input, .edit-todo > textarea{
    display: block;
    width: 100%;
    padding-left: 3px;
    margin-bottom: 10px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 4px;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    line-height: 22px;
}

.create-todo > textarea, .edit-todo > textarea{
    min-height: 70px;
    max-height: 70px;
    width: 100%;
}

.btn-submit{
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(217, 217, 217, 1);
    font-size: 14px;
    font-weight: 500;
    color: rgba(67, 67, 67, 0.902);
    cursor: pointer;
    transition: all 0.2s;
}

.btn-submit:hover{
    background-color: rgb(232, 229, 229, 0.8);
}

/*changing the style of the scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

/*the draggable scrolling handle*/
::-webkit-scrollbar-thumb {
    background: rgba(183, 183, 183, 0.781);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(155, 155, 155);
}

/**/
.list{
    width: 100%;
    height: 75dvh;
    overflow: auto; /*adding scrollbars only when necessary*/

}

.note{
    width: 99%;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    padding: 25px;
}

.icon-note{
    float: right;
    display: flex;
    justify-content: flex-end;
}

.icon-note > img{
    height: 20%;
    width: 20%;
    margin-left: 8px;
    cursor: pointer;
}

.category-note{
    width: 80%;
    font-size: 12px;
    font-weight: 600;
    text-decoration-line: underline;
    color: rgba(77, 142, 255, 1);
}

.title-note{
    width: 80%;
    font-size: 16px;
    font-weight: 700;
    color: rgba(57, 57, 57, 1);
}

.line-note{
    width: 80%;
    border: 1px solid rgba(219, 219, 219, 1);
    margin: 25px 0 5px;
}

.content-note{
    width: 80%;
    color: rgba(90, 92, 99, 1);
    font-size: 10px;
}

.clock-note{
    width: 80%;
    color: rgba(90, 92, 99, 1);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.clock-note > img{
    height: 5%;
    width: 5%;
    margin-right: 5px;
}

.state{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0 5px;
}