@media only screen and (max-width: 1800px){
    .roadmap{
        max-width: 1500px;
    }

    .roadmap-two-item-1{
        margin-left: 60px;
    }

    .roadmap-two-item-2{
        width: 350px;
        margin-left: 60px;
    }
}

@media only screen and (max-width: 1500px){
    .header-area{
        padding: 8px 0px; /*10 0*/
    }

    .header{
        max-width: 1250px;
    }

    .header-logo{
        max-height: 65px;
    }
    
    .header-detail{
        margin-left: 100px;
    }

    .header-detail > li{
        margin-right: 40px;
    }

    .header-list-lang > li{
        font-size: 15px;
    }

    .header-button{
        padding-left: 35px;
        margin-left: 35px;
    }

    .header-button::before{
        height: 20px;
        width: 3px;
        opacity: 0.4;
    }

    .header-box-buynow{
        padding: 16.5px 36px; /*16 35*/
    }

    /**/
    .banner-area{
        padding-top: 180px;
    }

    .banner-bgr{
        height: calc(100% - 115px);
    }

    .banner-bgr::before{
        height: 600px;
    }

    .banner-text{
        margin-bottom: 50px;    
    }

    .banner-content img{
        max-width: 700px;
    }

    .banner-icon-scroll{
        margin: 0 0 0 55px;
    }

    /**/
    .about-title, .roadmap-one-title, .download-title{
        font-size: 40px;
    }

    .about-download-button{
        font-size: 13px;
    }

    /**/
    .roadmap-two-item-1, .roadmap-two-item-2{
        margin-left: 30px;
    }

    /**/
}

@media only screen and (max-width: 1199.98px){
    .header{
        max-width: 100%;
    }

    .header-detail{
        margin-left: 60px;
    }

    .header-detail > li{
        padding: 36px 0px;
    }

    .header-lang{
        display: none;
    }

    .header-button{
        padding-left: 20px;
        margin-left: 0px;
    }

    /**/
    .banner-area{
        padding-top: 170px;
    }

    .banner-bgr{
        height: calc(100% - 100px);
    }

    .banner-bgr::before{
        height: 480px;
    }

    .banner-intro, .about, .choose, .counter, .download{
        max-width: 960px;
    }

    .banner-text{
        font-size: 45px;
    }

    .banner-content img{
        max-width: 600px;
    }

    .banner-icon-scroll{
        display: none;
    }

    /**/
    .choose-one-title, .team-one-title{
        font-size: 34px;
    }

    .choose-two-content{
        width: 98%;
    }

    /**/
    .counter-content{
        padding: 64px 30px 33px;
    }

    .counter-detail-count{
        font-size: 40px;
    }

    /**/
    .roadmap-one-flex-box > div{
        width: 100%;
    }

    .about-title, .roadmap-one-title, .download-title{
        font-size: 36px;
    }

    .roadmap-two-box{
        flex-wrap: wrap;
    }

    .roadmap-two-box .roadmap-two-item{
        width: 25%;
        margin-left: 0px;
    }

    .roadmap-two-item-content > span > br{
        display: none;
    }

    /**/
    .team{
        max-width: 960px;
    }

    /**/
    .download-area{
        padding: 130px 0;
    }

    .download-one, .download-two{
        width: 50%;
    }
}

@media only screen and (max-width: 991.98px){
    .header-area{
        padding: 15px 0px;
    }

    .header, .banner-intro, .about, .choose, .counter, .roadmap, .team, .download{
        max-width: 720px;
    }

    .header-detail,.header-button::before{
        display: none;
    }

    .header-bar{
        display: block;
    }
    
    /**/
    .banner-area{
        padding-top: 150px;
    }

    .banner-bgr{
        height: calc(100% - 120px);
    }

    .banner-bgr::before{
        height: 400px;
    }

    .banner-text{
        font-size: 55px;
        line-height: 1.2;
    }

    /**/
    .about-content{
        width: 100%;
    }

    .about-sub-title{
        margin-top: 50px;
    }

    .about-title, .choose-one-title, .roadmap-one-title, .team-one-title, .download-title{
        font-size: 40px;
    }

    .about-body{
        width: 90%;
    }

    .about-download-button{
        font-size: 13px;
    }

    .about-shape > .about-shape-one{
        display: none;
    }

    .about-shape > .about-shape-two{
        right: 12%;
        bottom: 6%;
    }

    /**/
    .choose-one-flex-box > div, .team-one-flex-box > div{
        width: 100%;
    }

    .choose-two-flex-box > div{ /*animaiton*/
        width: 50%;
        margin-bottom: 60px;
    }

    .choose-two-content{
        width: 100%;
    }

    /**/
    .counter-content{
        padding: 50px 30px 20px
    }

    .counter-detail-flex-box{
        width: 50%;
    }

    .counter-detail-count{
        font-size: 42px;
    }

    /**/
    .roadmap-area{
        padding: 120px 0 110px;
    }

    .roadmap-two-box{
        display: grid;
        gap: 40px 30px;
        grid-template-columns: 1fr 1fr;  /*grid-template-columns: specify the number (and the widths) of columns*/
    }

    .roadmap-two-box-one{
        margin-bottom: 40px;
    }

    .roadmap-two-box .roadmap-two-item{
        width: 100%;
        margin-bottom: 0;
    }

    .roadmap-two-item-title{
        margin-bottom: 10px;
    }

    .roadmap-two-item-content{
        margin-left: 0px;
        padding: 0px;
    }

    .roadmap-two-box::before{
        display: none;
    }

    .roadmap-two-item-content::before{
        display: none;
    }

    .roadmap-two-item-content > div{
        display: none;
    }

    .roadmap-two-item-content > p{
        margin-bottom: 15px;
        line-height: 1.2;
    }

    /**/
    .team-two-flex-box > div{ /*animaiton*/
        width: 33.33333333%;
        margin-bottom: 45px;
    }

    .team-two-avt > img{
        margin-bottom: 20px;
    }

    .team-two-title{
        margin-bottom: 8px;
        font-size: 19px;
    }

    /**/
    .download-one{
        width: 100%;
        order: 1;
    }

    .download-two{
        width: 100%;
        order: 0;
    }

    .download-sub-title{
        margin-top: 52px;
    }
}

@media only screen and (max-width: 767.98px){
    .header-button{
        display: none;
    }

    /**/
    .banner-area{
        padding-top: 130px;
    }

    .banner-bgr{
        height: calc(100% - 95px);
    }

    .banner-bgr::before{
        height: 260px;
        background-position: bottom;
    }

    .banner-text{
        font-size: 32px;
    }

    .banner-content img{
        max-width: 100%;
    }

    /**/
    .about-title, .choose-one-title, .roadmap-one-title, .team-one-title, .download-title{
        font-size: 28px;
    }

    .about-body{
        width: 100%;
    }

    .about-download-button{
        padding: 20px 25px;
    }

    .about-shape > .about-shape-two{
        right: 14%;
        bottom: 3%;
    }

    /**/
    .choose-two-animation{
        max-width: 280px;
        margin: 0 auto;
        text-align: center;
    }

    /**/
    .counter-content{
        padding: 50px 15px 20px;
    }

    .counter-detail-img{
        margin-right: 20px;
    }
    
    .counter-detail-count{
        font-size: 34px;
    }

    /**/    
    .roadmap-one-title > br{
        display: none;
    }

    .roadmap-two-box{
        grid-template-columns: 1fr;
    }

    /**/
    .team-one-title > br{
        display: none;
    }

    .team-two-flex-box > div{
        width: 50%;
    }

    /**/
    .download-area{
        padding: 120px 0;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .header, .banner-intro, .about, .choose, .counter, .team, .download{
        max-width: 540px;
    }
    
    /**/
    .banner-text{
        font-size: 40px;
    }

    /**/
    .about-title, .choose-one-title, .roadmap-one-title, .team-one-title, .download-title{
        font-size: 36px;
    }

    /**/
    .choose-two-title{
        margin-bottom: 15px;
    }
    
    /**/
    .roadmap-two-box{
        grid-template-columns: 1fr 1fr;
    }

    .roadmap-two-item{
        padding: 0 10px;
    }

    /**/

}

@media only screen and (max-width: 576px){
    .choose-two-flex-box > div, .counter-detail-flex-box, .team-two-flex-box > div{
        width: 100%;
    }

    .counter-detail{
        align-items: flex-start;
    }
}