*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit";
    box-sizing: border-box;
    letter-spacing: 1px;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}

/* header-area */
.header-area{
    width: 100%;
    padding: 30px 0px;
    color: white;
    font-size: 14px;
    position: absolute;
    z-index: 3;
}

.header{
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-text{
    font-weight: 600;
}

.header-icon{
    max-width: 100%;
}

.header-detail{
    margin-left: 140px;
}

.header-detail li{
    padding: 40px 65px 40px 0px;
}

.header-lang{
    font-size: 16px;
    font-weight: 400;
}

.header-lang-icon{
    display: block;
    font-weight: 700;
    color: #00C4F4;
    margin-left: 10px;
    font-size: 16;
    position: relative;
    top: 1px;
}

.header-button{
    position: relative;
    padding-left: 65px;
    margin-left: 65px;
}

.header-button::before{
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    height: 28px;
    width: 2px;
    background-color: white;
    opacity: 0.2;
}


.box-buynow{
    display: inline-block;
    padding: 20px 45px;
    background-color: #00C4F4;
    border: 1px solid #00C4F4;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1;
    text-align: center;
    transition: all 0.4s ease;
}

.box-buynow:hover{
    background-color: #564DCA;
    border-color: #564DCA;
}

.header-bar{
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    margin-left: 40px;
}
/* header-area */

/* main-area */
/* banner-area */
.banner-area{
    padding-top: 225px;
    position: relative;
}

.banner-bgr{
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_bg02.jpg");
    background-size: cover; /* vừa vs background container, nếu dư thì cắt bớt*/
    background-position: center;
    width: 100%;
    height: calc(100% - 164px); /* lấy 100% height của banner-area - 164px */
    position: absolute; 
    top: 0;
    z-index: 1;
}

.banner-bgr::before{
    content: "";
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_shape.svg");
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 722px;
    position: absolute;
    top: 100px;
    z-index: 2;
}

.banner-intro{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 2;
}

.banner-content{
    justify-content: center;
    flex-direction: column;
}

.banner-text{
    margin-bottom: 65px;
    text-align: center;
    color: white;
    font-family: "Poppins";
    line-height: 1.36;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: -0.01em;
}

/* banner-area */
/* main-area */