*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit";
    box-sizing: border-box;
    scroll-behavior: smooth;   
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}

.container-box{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.button{
    box-shadow: 0px 6px 22px rgba(6, 34, 51, 0.22);
    border-radius: 5px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1;
    text-align: center;
    transition: all 0.4s ease 0.01s;
}

/* header-area */
.header-area{
    width: 100%;
    padding: 28px 0px;  /*30 0*/
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    position: absolute;
    z-index: 3;
}

.header{
    max-width: 1520px;
}

.header-text{
    font-weight: 600;
}

.header-logo{
    max-width: 100%;
}

.header-detail{
    margin-left: 140px;
}

.header-detail > li{
    padding: 40px 0px;
    margin-right: 65px;
    position: relative;
    cursor: pointer;
}

.header-detail li > a{
    color: white;
    transition: all 0.35s ease 0.01s;
}

.header-detail li:hover > a{
    color: #00C4F4;
}

.header-sub-menu{
    visibility: hidden;
    background-color: #0B1D33;
    min-width: 230px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    padding: 18px 0;
    box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: calc(100% - 2.5px);
    left: 0;
    right: 0;
    text-align: left;
    transform-origin: 0 0;
    transform: scale(1, 0);
    transition: all 0.3s ease 0.01s;
    cursor: default;
}

.header-detail li.header-menu:hover .header-sub-menu{
    visibility: visible;
    transform: scale(1);
}

.header-sub-menu > li > a{
    display: block;
    padding: 9px 15px 9px 25px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.1px;
}

.header-lang{
    position: relative;
    cursor: pointer;
}

.header-selected-lang{
    font-size: 16px;
    font-weight: 400;
}

.header-list-lang{
    visibility: hidden;
    opacity: 0;
    background-color: #0B1D33;
    min-width: 100px;
    border-radius: 6px;
    padding: 10px 0;
    box-shadow: 0px 30px 70px 0px rgba(40, 44, 49, 0.15);
    position: absolute;
    left: -10px;
    top: calc(100% + 28px);
    text-align: left;
    transform-origin: top center;
    transform: perspective(400px) rotateX(-45deg);
    transition: all 0.3s ease 0.01s;
    cursor: default;
}

.header-lang:hover > .header-list-lang{
    visibility: visible;
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
}

.header-list-lang > li{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 5px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.35s ease 0.01s;
}

.header-list-lang > li:hover{
    color: #00C4F4;
}

.header-lang-icon{
    margin-left: 10px;
    color: #00C4F4;
    position: relative;
    top: 1px;
}

.header-button{
    padding-left: 65px;
    margin-left: 65px;
    font-size: 14px;
    position: relative;
}

.header-button::before{
    content: "";
    height: 28px;
    width: 1px;
    background-color: white;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    /*để vào giữa*/
    left: 0;
}

.header-box-buynow{
    display: inline-block;
    padding: 20.5px 46px; /*20 45*/
    background-color: #00C4F4;
    border: 1px solid #00C4F4;
}

.header-box-buynow:hover{
    background-color: #564DCA;
    border-color: #564DCA;
}

.header-bar{
    display: none;
    margin-left: 40px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
/* header-area */

/* main-area */
/* banner-area */
.banner-area{
    padding-top: 225px;
    position: relative;
}

.banner-bgr{
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_bg02.jpg");
    background-size: cover; /* vừa vs background container, nếu dư thì cắt bớt*/
    background-position: center;
    width: 100%;
    height: calc(100% - 164px); /* lấy 100% height của banner-area - 164px */
    position: absolute; 
    top: -1px; /*0px*/
    left: 0;
    z-index: 1;
}

.banner-bgr::before{
    content: "";
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/banner/banner_shape.svg");
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 722px;
    position: absolute;
    left: 0;
    bottom: -40px;
    z-index: 2;
}

.banner-intro{
    position: relative;
    z-index: 2;
}

.banner-content{
    justify-content: center;
    flex-direction: column;
}

.banner-text{
    margin-bottom: 65px;
    text-align: center;
    color: white;
    font-family: "Poppins";
    line-height: 1.36;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: -0.01em;    
}

.banner-text-animation{
    animation-name: FadeInDown;
    animation-delay: 0.2s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.banner-icon-scroll{
    align-items: flex-end;
    margin: 0 40px 0 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90px;
    z-index: 2;
}

.banner-icon li{ 
    margin-bottom: 25px;
    border: 1px solid #F3F3F3;
    border-radius: 50px;

    display: flex;  /*flex canh chữ khi làm js ấn vô có chũ bay ra đó*/
    align-items: center;
}

.banner-icon p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0 12px;
    color: #081A39;
    font-size: 15px;
    cursor: pointer;
}

.banner-scroll{
    flex-direction: column;
}

.banner-scroll p{
    margin-bottom: 120px;
    color: #081A39;
    opacity: 0.4;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.515em;
    transform: rotate(-90deg) translateX(4px);
}

.banner-scroll a{
    margin: 0;
}
/* banner-area */

/* countdown-area */
.countdown-box{
    padding: 55px 50px 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 34px 35px rgba(160, 171, 191, 0.21);
    border-radius: 20px;
    position: relative;
    text-align: center;
}

.countdown-box::before, .counter-content::before{
    content: "";
    width: 80%;
    height: 80%;
    background-color: #00C4F4;
    opacity: 0.08;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    z-index: -1;
}

.countdown-title{
    margin-bottom: 35px;
    color: #030B15;
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.88;
}

.countdown-clock{
    margin-bottom: 0;
    /* justify-content: center;
    column-gap: 115px;
    row-gap: 30px; */
}
/* countdown-area */

/*about-area*/
.about-area{
    padding: 130px 0;
    position: relative;
}

.about{
    padding: 0;
}

.about-content{
    width: 50%;
    padding: 0px 15px;
    line-height: 1.75;
}

.about-img-animation{
    animation-name: FadeInLeft;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    text-align: center;
}

.about-img-animation img{
    max-width: 100%;
}

.about-title-animation{
    animation-name: FadeInRight;
    animation-delay: 2s;    /*đợi js rồi sửa*/
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.about-sub-title{
    margin-bottom: 18px;
    color: #564DCA;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-decoration: underline;
    cursor: text;
}

.about-title{
    margin-bottom: 15px;
    font-family: "Poppins";
    font-size: 45px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.26;
}

.about-body-under-title{
    width: 80%;
    margin-bottom: 20px;
    color: #727885;
    font-size: 16px;
}

.about-content ul{
    margin-bottom: 45px;
}

.about-content ul li{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 10px;
}

.about-content ul li > i{
    margin-right: 10px;
    color: #564DCA;
}

.about-download-button{
    display: inline-block;
    background-color: #564DCA;
    border-radius: 5px;
    padding: 25px 42px;
    font-size: 15px;
}

.about-download-button:hover{
    background-color: #00C4F4;
}

.about-shape > img{
    position: absolute;
}

.about-shape-one{
    left: 9%;
    bottom: 90px;
    animation: SwingBackAndForth 4s linear infinite alternate;
}

.about-shape-two{
    right: 7%;
    bottom: 22%;
    animation: Rotate 10s infinite linear;
}
/*about-area*/

/*choose-area*/
.choose-area{
    padding: 130px 0 218px;
}

.choose-bgr{
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/choose_bg.jpg");
    background-size: cover; /* vừa vs background container, nếu dư thì cắt bớt*/
    background-position: top;
    position: relative;
    top: 0;
    left: 0;
}

.choose-bgr::before{
    content: "";
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/choose_shape01.png");
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.choose-bgr::after{
    content: "";
    background-image: url("https://themedox.com/demo/bigtech-live/bigtech/assets/img/bg/choose_shape02.png");
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 19px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.choose{
    padding: 0;
    line-height: 1.75;
}

.choose-one-flex-box{
    justify-content: center;
}

.choose-one-flex-box > div{
    padding: 0 15px;
    margin-bottom: 70px;
    color: white;
    max-width: 50%;
    text-align: center;
}

.choose-one-sub-title{
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.09em;
    position: relative;
}

.choose-one-sub-title::before, .choose-one-sub-title::after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #00C4F4;
    border-radius: 50%;
}

.choose-one-sub-title::after{
    left: auto;
    right: 0;
}

.choose-one-title{
    font-family: "Poppins";
    font-size: 42px;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.25;
}

.choose-two-flex-box{
    justify-content: flex-start;
    align-items: flex-start;
}

.choose-two-flex-box > div{
    width: 25%;
    padding: 0 15px;
    color: white;
    font-size: 16px;
}

.choose-two-animation{
    animation-name: FadeInUp;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.choose-two-animation > img{
    margin-bottom: 35px;
    height: 48px;
}

.choose-two-detail{
    width: 77%;
    margin-bottom: 30px;
}

.choose-two-title{
    display: block;
    margin-bottom: 24px;
    color: white;
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 500;
    line-height: 1.26;
    transition: all 0.35s ease 0.01s;
}

.choose-two-title:hover{
    color: #00C4F4;
}

.choose-two-body{
    color: #A4B4C3;
    font-size: 15px;
    line-height: 22px;
}
/*choose-area*/

/*counter-area*/
/* .counter-area*/
.counter{
    line-height: 1.75;
}

.counter-content{
    padding: 64px 60px 33px;
    background-color: white;
    box-shadow: 0px 34px 35px rgba(160, 171, 191, 0.21);
    border-radius: 20px;
    position: relative;
    /* top: -120px; */
    margin-top: -120px;
    margin-bottom: 10px;
}

.counter-detail{
    justify-content: center;
}

.counter-detail > div{
    padding: 0 15px;
    margin-bottom: 30px;
}

.counter-detail-flex-box{
    display: flex;
    align-items: center;
    width: 33.33333333%;
}

.counter-detail-img{
    width: 71px;
    margin-right: 30px;
}

.counter-detail-count{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: black;
    font-size: 48px;
    font-weight: 600;
    line-height: 0.85;
    position: relative;
}

.counter-detail-count > p{
    font-family: "Poppins";
}

.counter-detail-count > p::after{
    content: "K";
    position: absolute;
    top: 1px;
    left: auto;
}

.counter-detail-content > p{
    margin-bottom: 0;
    color: #646580;
    line-height: 1.6;
}
/*counter-area*/
/* main-area */