*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

/**/
.decor-login{
    position: fixed;
    width: 100%;
    height: 100%;
}

.decor-login-page1{
    height: 70%;
    position: absolute;
    bottom: -5px;
    left: -5px;
}

.decor-login-page2{
    height: 70%;
    position: absolute;
    top: -5px;
    right: 0px;
}

.decor-login-page3{
    height: 15%;
    position: absolute;
    top: 80%;
    right: 25%;
}
/**/

.frame{
    max-width: 70%;
    width: 850px;
    height: 600px;

    border-radius: 24px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.18);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    z-index: 1;
}

.frame-img{
    width: 50%;
    height: 600px;
    border-radius: 24px;
    background-color: rgba(209, 223, 236, 0.9);
    overflow: hidden;
    position: relative;
}

.Sgroup-pics{
    width: 100%;
    height: 600px;
    border-radius: 25px;
    position: relative;
    z-index: -1;
}

.Sgroup-logo{
    width: 150px;
    height: 145px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.decor-frame1{
    width: 130px;
    height: 210px;
    position: absolute;
    left: -5px;
    bottom: 0px;
}

.decor-frame2{
    height: 145px;
    position: absolute;
    top: -10px;
    right: 0px;
}

/**/
.frame-content{
    width: 50%;
    height: 550px;
    position: relative;
}

.login-register-container{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-register-mode{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-register-mode > p{
    width: 100%;
    padding-bottom: 4px;
    text-align: center;
    cursor: pointer;
}

#login-mode{
    border-bottom: 2px solid rgba(17, 105, 142, 1);
}

form{
    margin-top: 24px;
}

.form-input > p{
    padding: 15px 0 4px;
}

.form-input > input{
    display: block;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 2px;
    outline: none;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

input::placeholder{
    color: rgba(217, 217, 217, 1);
}

.form-checkbox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form-checkbox > label{
    margin: 15px 8px 17px;
}

.form-checkbox > input{
    appearance: none; /*Hides certain features*/
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color: rgb(232, 229, 229, 0.8);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-checkbox > input::after{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    color: rgba(255, 255, 255);
    font-weight: 900;
    font-size: 12px;
    display: none;
}

.form-checkbox > input:checked {
    background-color: rgba(0, 166, 218, 1);
}

.form-checkbox > input:checked::after{
    display: block;
}

.btn{
    display: block; 
    width: 100%;
    padding: 8px 15px;
    border-radius: 41px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.043);
    background: rgba(0, 166, 218, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    cursor: pointer;
}

#register-form{
    display: none;
}